<div class="sidebar">

    <h1>Beeo</h1>
    <p id="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus luctus, 
        scelerisque turpis et, vulputate nunc. Sed ultricies tortor ac cursus fermentum. 
        Cras bibendum tortor quis urna blandit ullamcorper. Vestibulum porta nulla sed iaculis imperdiet. 
        Fusce at eleifend mauris. Cras eget nulla auctor, vehicula elit eu, vestibulum leo. Integer eleifend mauris vel tincidunt laoreet. 
        Vivamus semper eros tincidunt consequat ultricies. In turpis mauris, tincidunt sit amet mollis sed, mollis nec est. Nullam venenatis dui quis 
        dolor pellentesque, id tincidunt felis semper. Ut id sem tortor. Duis ultricies eros ut tellus posuere, at interdum ante gravida. Donec vitae 
        nunc consectetur, aliquet dui et, tempor velit. Curabitur vitae eros mi.</p>

        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Rayon de butinage : 3000 mètres <span id="demo"></span></p>
          </div>
    <h3>Sélection des calques</h3>

    <input #layer1 (click)="layer1check()" type="checkbox" id="layer1" name="layer1" value="bio">
    <label for="layer1">Zones bios</label><br>
    <input #layer2 (click)="layer2check()" type="checkbox" id="layer2" name="layer2" value="indus">
    <label for="layer2">Zones et sols pollués</label><br>
    <input type="checkbox" id="layer3" name="layer3" value="insectes">
    <label for="layer3">Insectes</label><br>




</div>