<div class="sidebar">
  <h1>GeoBeeo</h1>
  <p id="lorem">
    Beeo est une application d'abord créée pour aider les apiculteurs bio à trouver des endroits adaptés pour poser
    leurs ruches.
  </p>

  <div class="slidecontainer">
    <h3>Placer un marqueur</h3>
    <input #range (input)="rangeChanged($event)" type="range" min="1000" max="6000" value="3000" class="slider"
      id="myRange" />
    <p>
      Rayon de butinage : <span #number>{{ n }}</span> mètres ({{pMsg}})
    </p>
    <div id="slideButtonsContainer">
      <button [ngClass] = [btnStyle] (click)="activateMarkers()"><img src="../../assets/marker.png"><span>{{markerMsg}}</span></button>
      <button (click)="reset()"><img src="../../assets/cross.png">Reset</button>
    </div>
  </div><br>
  <h3>Sélection des calques</h3>

  <input #layer1 (click)="layer1check()" type="checkbox" id="layer1" name="layer1" value="bio" />
  <label for="layer1">Zones bios</label><br />
  <p class="LayerDescription">
    Correspond aux parcelles en Agriculture Biologique (AB) déclarées à la PAC<br>
    <a href="https://www.data.gouv.fr/en/reuses/geographie-de-lagriculture-biologique-en-france/"
      target="_blank">Source</a>
  </p>



  <input #layer4 (click)="layer4check()" type="checkbox" id="layer4" name="layer4" value="ferms" />
  <label for="layer4">Fermes Bio</label><br />
  <p class="LayerDescription">
    Correspond aux fermes bio avec leur emplacement exact
    <br />
    <a href="https://annuaire.agencebio.org/" target="_blank">Source</a>
  </p>

  <input #layer2 (click)="layer2check()" type="checkbox" id="layer2" name="layer2" value="indus" />
  <label for="layer2">Zones polluées</label><br />
  <p class="LayerDescription">
    Correspond aux sites et sols pollués (ou potentiellement pollués) appelant
    une action des pouvoirs publics, à titre préventif ou curatif (ex BASOL).
    <br />
    <a href="https://www.georisques.gouv.fr/" target="_blank">Source</a>
  </p>
  <input #layer3 (click)="layer3check()" type="checkbox" id="layer3" name="layer3" value="insectes" />
  <label for="layer3">Installations industrielles</label><br />
  <p class="LayerDescription">
    Correspond aux Installations classées pour la protection de l'environnement
    (ICPE) soumises à autorisation ou à enregistrement (en construction, en
    fonctionnement ou en cessation d'activité)
    <br />
    <a href="https://www.georisques.gouv.fr/" target="_blank">Source</a>
  </p>

  <input #layer5 (click)="layer5check()" type="checkbox" id="layer5" name="layer5" value="Rivers" />
  <label for="layer4">Rivières</label><br />
  <p class="LayerDescription">
    Correspond aux qualité des rivières avec l'emplacement de la station de
    mesure.
    <br />
    <a href="http://adour-garonne.eaufrance.fr/" target="_blank">Source</a>
  </p>

  <button id="questionnaire" (click)="formDisplay()">Afficher le questionnaire</button>
</div>